<%- include("../partials/header") %> 
<!-- navbar -->
<%- include("../partials/mainNavbar.ejs") %> 

<div class="container m-auto p-3">
    
    <!-- register inside form class is for making responsive for desktop and mobile -->

    <form action="/mechanic/register" method="POST" 
          class="m-auto bg-white register"
          style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;">
      <%- include("../partials/flash") %>
      <div class="border border-gray p-3" style="background-color:#F0F0F0;">
        <h4 class="display-4">Mechanic Registration</h4>
      </div>
      <div class="border border-gray p-4 m-auto">
        <div class="row mt-2 mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
            </div>
        </div>
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">User type</label>
          <div class="col-sm-10">
            <select class="form-select" name="usertype" id="usertype" required>
              <!-- <option selected>Select User Type...</option> -->
              <option value="user">User</option>
              <option selected value="mechanic">Mechanic</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">Service you'll give</label>
          <div class="col-sm-10">
            <select class="form-select" name="servicetype" id="servicetype" required>
              <!-- <option selected>Select User Type...</option> -->
              <option value="2 Wheeler">2 Wheeler</option>
              <option value="4 Wheeler">4 Wheeler</option>
              <option value="Trucks">Trucks</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">Available</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="availability" id="availability" placeholder="When you'll be Available" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">Phone No:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="phoneno" id="phoneno" placeholder="Enter Phone Number" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="address" id="address" placeholder="State -- City -- Locality" required>
          </div>
        </div>
        <div class="row mb-5">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
          </div>
        </div>
        <button type="submit" class="btn btn-danger">Register</button>
        <br><br>
        Already Have an Account?
        <a href="/mechanic/login" class="text-primary">Login</a>
      </div>
    </form>

</div>


<%- include("../partials/footer") %> 